@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Dancing Script Font */
@font-face {
    font-family: 'Dancing Script';
    src: url('/assets/fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Import Lato Fonts */
@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

* {
    white-space: pre-line;
    font-family: "Lato", sans-serif !important;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6 !important;
}

span {
  font-size: 16px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media (min-width: 768px) {
    .shadow-container {
        box-shadow: -10px 10px #171B27;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
    }

        .slate-container {
        box-shadow: 10px 10px #262931;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
    }
}

.shadow-image {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33);
}

.swiper-pagination {
    justify-content: center;
    bottom: 32px !important;
    display: flex;
    gap: 8px;
}

.swiper-pagination .swiper-pagination-bullet {
    opacity: 1 !important;
    border-radius: 0;
    background: transparent !important;
    border: 2.5px solid #181C18;
    width: 12px;
    height: 12px;
    margin: 0px !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
    border-color: #57B957 !important;
}

.header-container {
  transition: transform 0.3s ease-in-out;
}

.header-container.header-enter,
.header-container.header-leave {
   position: sticky;
  top: 0;
  z-index: 20;
}

.header-enter {
  animation: slideIn 0.3s forwards;
}

.header-leave {
  animation: slideOut 0.3s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.animation-setup {
    opacity: 0;
}

.img-container {
    perspective: 1000px;
}

.img-animation {
  animation: swing-in-bottom-bck 0.6s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-22 11:36:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-bottom-bck
 * ----------------------------------------
 */
@keyframes swing-in-bottom-bck {
  0% {
    transform: rotateX(-70deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}

.list-animation {
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-21 15:52:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.bg-pan-br {
    animation: bg-pan-br 8s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-21 16:4:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bg-pan-br
 * ----------------------------------------
 */
@keyframes bg-pan-br {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.dropdown-open-animation {
  animation: open 1.5s ease-out forwards;
  max-height: 0;
  overflow: hidden;
}

@keyframes open {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px; /* Adjust this value to match your content's height */
  }
}

.dropdown-close-animation {
  animation: close 0.5s ease-out forwards;
  max-height: 1000px; /* Adjust this value to match your content's height */
  overflow: hidden;
}

@keyframes close {
  from {
    max-height: 1000px; /* Adjust this value to match your content's height */
  }
  to {
    max-height: 0;
  }
}

.heartbeat {
    animation: heartbeat 2s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-21 23:2:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.transition-max-height {
  transition: max-height 0.725s ease-in;
}

.transition-max-height-closed {
  transition: max-height 0.925s ease-out;
}

